//@require '/bower_components/bootstrap-stylus/stylus/bootstrap.styl'

.footer
  background-color whitesmoke
  padding 10px 0
  position fixed
  bottom 0
  width 100%
  
.donetrue
  text-decoration line-through
  color grey