@require '_functions'
@require '_mixins'
@require '_variables'

@font-face
  font-family 'Inconsolata'
  src url('../fonts/Inconsolata-Regular.woff')
  
@font-face
  font-family 'Inconsolata'
  src url('../fonts/Inconsolata-Bold.woff')
  font-weight bold

body, html, .wrapper
  min-height 100%
  max-height 100%
  height 100%
  margin 0
  padding 0
  overflow hidden
  font-size 14px
  background background
  color foreground
  text-rendering optimizeLegibility

.wrapper
  display flex
  flex-flow column
  flex 1 0 auto
  align-items stretch
  align-content stretch
  font-family 'Inconsolata'
  -webkit-user-select none
  
.hidden
  display none
  
ul.unstyled
  list-style-type none
  
.menubar, .statusbar
  flex 0 0 auto
  height 1.7rem
  align-items center
  background darken(background, 65%)
  
.mainContainer
  display flex
  flex-flow row
  flex 1 0 auto
  
.menubar
  display flex
  flex-flow row
  font-size 13px
  
  ul
    flex 1 0 auto
    padding 0
    background darken(background, 65%)
    // just high enough to be on top of ace
    z-index 5
    
    li:not(.separator):hover
      background lighten(@background, 5%)
      
    .root
      display inline-block
      padding 0 .5rem
      cursor pointer
      
      .menu
        position absolute
        margin-left -.5rem
        padding .2rem 0
        
        li
          padding 0 2rem
          margin .2rem 0
          
.project
  display block
  width 14.3rem
  min-width 14.3rem
  background lighten(background, 10%)
  position relative
  overflow-y auto
  overflow-x auto
  
  div
    display inline-block
    border-radius 2px
    cursor pointer
    
    &:not(.expander):hover
      background lighten(background, 20%)
      
    &.expander
      margin-right .2rem
      -webkit-transform rotateZ(90deg)
      transition -webkit-transform .2s
      
      &.collapsed
        -webkit-transform rotateZ(0)
        
  ul
    margin .3rem 0 0 .5rem
    padding 0
    font-size 12px
    
    hr
      height 0
      border transparent
      border-bottom 1px dotted foreground
      color lighten(background, 10%)
      width 4rem
      margin 0
      
    &.collapsed
      display none
      
    &:not(.root)
      border-left 1px dotted darken(foreground, 20%)
      margin-left .15rem
      
    &.root
      margin-left -.3rem
      position absolute
      top 0
      bottom 0
      right 0
      left 0
      
      li
        margin .3rem 0 0 .5rem
        
        &.directory
          font-weight bold
          color darken(foreground, 20%)
          
          div:not(.expander)
            width 90%
            
        &.file
          color foreground
          
          div:not(.expander)
            width 95%
            
.editor
  flex 1 0 auto
  display flex
  
  #editor
    flex 1 0 auto
    
::-webkit-scrollbar
  width 15px
  height 15px
  
::-webkit-scrollbar-button
  height 0px
  width 0px

::-webkit-scrollbar-track
  background-color transparent

::-webkit-scrollbar-thumb
  background-color lighten(background, 25%)
  border 3px solid transparent
  border-radius 6px
  background-clip content-box

  &:hover
    background-color lighten(background, 35%)

::-webkit-scrollbar-corner
  background-color transparent