@require '_functions'
@require '_mixins'
@require '_variables'

@font-face
  font-family 'Inconsolata'
  src url('../fonts/Inconsolata-Regular.woff')
  
@font-face
  font-family 'Inconsolata'
  src url('../fonts/Inconsolata-Bold.woff')
  font-weight bold

body, html, .wrapper
  min-height 100%
  max-height 100%
  height 100%
  margin 0
  padding 0
  overflow hidden
  font-size 14px
  background background
  color foreground
  text-rendering optimizeLegibility

.wrapper
  display flex
  flex-flow column
  flex 1 0 auto
  align-items stretch
  align-content stretch
  font-family 'Inconsolata'
  -webkit-user-select none
  
.hidden
  display none
  
ul.unstyled
  list-style-type none
  margin 0
  
.menubar, .statusbar
  flex 0 0 auto
  height 1.7rem
  align-items center
  align-content center
  background darken(background, 65%)
  
.mainContainer
  display flex
  flex-flow row
  flex 1 0 auto
  align-items stretch
  align-content stretch
  
.menubar
  display flex
  flex-flow row
  font-size 13px
  
  ul
    flex 1 0 auto
    padding 0
    background darken(background, 65%)
    // just high enough to be on top of ace
    z-index 5
    
    li:not(.separator):hover
      background lighten(@background, 10%)
      
    li.separator hr
      border none
      border-bottom 1px solid lighten(background, 10%)
      
    .root
      display inline-block
      padding 0 .5rem
      cursor pointer
      
      .menu
        position absolute
        margin-left -.5rem
        padding .2rem 0
        
        li
          padding 0 2rem
          margin .2rem 0
          
          &.separator
            padding 0 .7rem
            
.statusbar
  display flex
  flex-flow row
  font-size 13px
  
  .project-toggle
    padding-left .3rem
    cursor pointer
    
    div
      transition -webkit-transform .2s
      display inline-block
      
    &.collapsed div
      -webkit-transform rotateZ(-180deg)
      
  .cursor
    padding-left .3rem
    margin-top -.1rem
    flex 1 0 auto
    
  select
    background darken(background, 65%)
    color foreground
    -webkit-appearance none
    width 11rem
    border none
    
    &:focus
      outline none
      
.project
  display block
  width 14.3rem
  background lighten(background, 10%)
  position relative
  overflow auto
  transition width .2s
  flex 0 0 auto
  white-space nowrap
  
  &.collapsed
    width 0
    overflow hidden
    
  div
    display inline-block
    border-radius 2px
    cursor pointer
    
    &:not(.expander):hover
      background lighten(background, 20%)
      
    &.expander
      margin-right .2rem
      -webkit-transform rotateZ(90deg)
      transition -webkit-transform .2s
      
      &.collapsed
        -webkit-transform rotateZ(0)
        
  ul
    margin .3rem 0 0 .5rem
    padding 0
    font-size 12px
    
    hr
      height 0
      border transparent
      border-bottom 1px dotted foreground
      color lighten(background, 10%)
      width 4rem
      margin 0
      
    &.collapsed
      display none
      
    &:not(.root)
      border-left 1px dotted darken(foreground, 20%)
      margin-left .15rem
      
    &.root
      margin-left -.3rem
      position absolute
      top 0
      bottom 0
      right 0
      left 0
      
      li
        margin .3rem 0 0 .5rem
        
        &.directory
          font-weight bold
          color darken(foreground, 20%)
          
          div:not(.expander)
            width 90%
            
        &.file
          color foreground
          
          div:not(.expander)
            width 95%
            
.editor
  flex 1 1 auto
  display flex
  flex-flow column
  align-items stretch
  align-content stretch
  
  #tabs
    flex 0 0 2rem
    display flex
    justify-content flex-start
    padding .15rem .15rem 0 .15rem
    
    .tab
      display flex
      flex 1 1 auto
      justify-content space-between
      align-items stretch
      max-width 11rem
      min-width 4rem
      background darken(background, 45%)
      margin-right .2rem
      border-radius .3rem .3rem 0 0
      color darken(foreground, 25%)
      vertical-align middle
      line-height 1.85rem
      border-bottom solid .3rem darken(background, 45%)
      cursor default
      
      &:hover
        color darken(foreground, 10%)
        
      .label
        padding-left .4rem
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        flex 1 1 auto
        width 100%
        
      &.active
        border-bottom solid .3rem accent
        color foreground
        background darken(background, 55%)
        
        .status
          color accent
          
      .status
        font-size 16px
        padding-right .4rem
        margin-left .4rem
        align-self center
        cursor pointer
        flex 0 0 auto
        
        &:hover
          color foreground
          
  #editor
    flex 1 0 auto
    
#dialog
  width 40%
  margin 0 auto
  
  &::backdrop
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,0.4)
    
  .title
    font-size 18px
    font-weight bold
    text-align center
    color background
    
  .internal
    border 1px solid lighten(background, 30%)
    
  .controls
    text-align center
    
    input
      width 5rem
      
::-webkit-scrollbar
  width 15px
  height 15px
  
::-webkit-scrollbar-button
  height 0px
  width 0px

::-webkit-scrollbar-track
  background-color transparent

::-webkit-scrollbar-thumb
  background-color lighten(background, 25%)
  border 3px solid transparent
  border-radius 6px
  background-clip content-box

  &:hover
    background-color lighten(background, 35%)
    
::-webkit-scrollbar-corner
  background-color transparent