baseBackground = #eee
primaryBackground = lighten(baseBackground, 65%)
primaryBackground_Hover = darken(primaryBackground, 10%)
secondaryBackground = darken(baseBackground, 10%)
key_color = darken(baseBackground, 40%)
tertiaryBackground = darken(baseBackground, 20%)
quaternaryBackground = lighten(baseBackground, 45%)
border = darken(baseBackground, 30%)
scrollbar = darken(baseBackground, 25%)
scrollbarHover = darken(baseBackground, 35%)
foreground = #2f2f2f
paleText = lighten(foreground, 20%)
paleText_Hover = lighten(foreground, 10%)
accent = #3083FF