doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/app.css')
    script.
      window.brunch = window.brunch || {};
      window.brunch.server = 'localhost';
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='js/vendor.js')
    script(src='js/app.js')
    script(src='js/ace/ace.js')
  body
    .wrapper
    input#directory.hidden(type='file', nwdirectory)
    input#save.hidden(type='file', nwsaveas)
    input#file.hidden(type='file')