baseBackground = #2f2f2f
primaryBackground = darken(baseBackground, 65%)
primaryBackground_Hover = lighten(primaryBackground, 10%)
secondaryBackground = lighten(baseBackground, 10%)
key_color = lighten(baseBackground, 40%)
tertiaryBackground = lighten(baseBackground, 20%)
foreground = #eee
accent = #cf7c00