baseBackground = #2f2f2f
primaryBackground = darken(baseBackground, 65%)
primaryBackground_Hover = lighten(primaryBackground, 10%)
secondaryBackground = lighten(baseBackground, 10%)
key_color = lighten(baseBackground, 40%)
tertiaryBackground = lighten(baseBackground, 20%)
quaternaryBackground = darken(baseBackground, 45%)
border = lighten(baseBackground, 30%)
scrollbar = lighten(baseBackground, 25%)
scrollbarHover = lighten(baseBackground, 35%)
foreground = #eee
paleText = darken(foreground, 20%)
paleText_Hover = darken(foreground, 10%)
accent = #cf7c00